slides > slide.title-slide > hgroup {
  background: rgba(255,255,255,.8) !important;
  border-radius: 50px;
  padding: 25px;
}

slides > slide.title-slide> aside {
  background: rgba(255,255,255,.8);
}

slides > slide > article.larger {
  font-size: 30pt;
}

slides > slide.backdrop {
  background-image: url("img/slide-bg.jpg");
  background-size: contain;
}

slides > slide.title-slide {
  background-image: url("img/title-bg.jpg");
  background-size: contain;
}

